* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: calibri;
}

body {
    background: #252831;
}

#div_board {
    box-sizing: border-box;
    height: 95%;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: wrap;
    border: solid 2px #909090;
    border-radius: 10px;
}

#div_clues {
    background: #1d2240;
    box-sizing: border-box;
    height: 100%;
    width: 20%;
    border-radius: 10px 0 0 10px;
    padding-bottom: 10px;
}

#div_content_pieces {
    width: 80%;
}

#div_code {
    background: #252b3c;
    height: 12%;
    width: 100%;
    border-radius: 0 10px 0 0;
}

#div_content_attempts {
    background: #394159;
    box-sizing: border-box;
    height: 88%;
    width: 100%;
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    padding-bottom: 10px;
    border-radius: 0 0 10px 0;
}

/* ==== pieces ==== */
.div_attemps {
    background: #252b3c;
    height: 80px;
    width: 95%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.btn_pieces {
    background: #1c202d;
    height: 70px;
    width: 70px;
    border-radius: 200px;
    box-shadow: inset #000 -1px -1px 20px;
}

/* ==== CLUES ==== */
.attemp_clues {
    background: #252b3c;
    box-sizing: border-box;
    height: 80px;
    width: 80px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
}

.attemps {
    background: red;
    height: 30px;
    width: 30px;
    border-radius: 200px;
}

/* ==== colors ==== */
#div_mastermind {
    background: #6d6f75;
    height: 95%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    border-radius: 100px 0 0 100px;
}

#mastermind_name {
    height: 100%;
    width: 200px;
    border-radius: 100px 0 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#h1_tittle {
    margin: 0;
    padding: 0;
    font-size: 86pt;
    position: absolute;
    transform: rotate(270deg);
}

#div_colors {
    background: #909090;
    height: 100%;
    width: 100px;
    align-self: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.colors {
    background: coral;
    left: 50px;
    top: 50px;
    margin: 5px;
    box-shadow: #000 1px 1px 5px;
}

.red {
    background: #F21D44;
}
.blue {
    background: #05AFF2;
}
.aqua {
    background: #1BBFAF;
}
.yellow {
    background: #F2A516;
}
.orange {
    background: #F25D27;
}
.white {
    background: #fff;
}

/* ====== RESPONSIVE ======= */
@media screen and (max-width: 650px) {
    #div_board {
        width: 95%;
    }
}
